<!DOCTYPE html>
<html>
<head>
	<title>Manga Downloader</title>
</head>
<body>
	
	<div class="container start">
		<form>
			<div>
				<div class="input-field">
					<input type="text" id="fname" data-length = "40">
					<label>Manga Name</label>
				</div>
				<div class="input-field">
					<input type="number" class="no-spin" id="chno" data-length = "4">
					<label>Chapter No</label>
				</div>
			</div>
			<button class="btn waves-effect waves-light" type="submit" onclick="test()">Add!</button>
		</form>
	</div>
	<script type="text/javascript" src="./src/lib/mangasrc/kissmanga.js"></script>

</body>
</html>