<!DOCTYPE html>
<html>
<head>
	<title>Manga Downloader</title>
</head>
<body>
	
	<div class="container start">
		<form>
			<div>
				<div class="input-field">
					<input type="text" id="fname1" data-length = "40">
					<label>Manga Name</label>
				</div>
				<div class="input-field">
					<input type="number" class="no-spin" id="chno1" data-length = "4">
					<label>Chapter No</label>
				</div>
			</div>
			<button class="btn waves-effect waves-light" type="submit">Add!</button>
		</form>
	</div>

	<script>
		try{
			const electron = require('electron');
			const {ipcRenderer} = electron;

			const form = document.querySelector('form');
			form.addEventListener('submit', submitForm);

			function submitForm(event){
				event.preventDefault(); // Preventing default pass
				const name = document.querySelector('#fname').value; 
				const chno = document.querySelector('#chno').value; 
				ipcRenderer.send('fname:add', name); 
				ipcRenderer.send('chno:add', chno); 
			}
		}
		catch(err){
			//pass
		}
	</script>

</body>
</html>