<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <h1>Viewer</h1>
    <div id="chapView" class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="http://i.imgur.com/io0XxGa.jpg"></a>
    </div>
    <button id="abc" class="btn waves-effect waves-light" onclick="test(); return false;">Dew</button>

    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/hammerjs/hammer.min.js"></script>
    <script type="text/javascript" src="../../node_modules/materialize-css/dist/js/materialize.js"></script>
    <script type="text/javascript" src="../scripts/viewtab.js"></script>
</body>
</html>