.start{
    margin-top: 50px;
}

.bar{
    margin-top: 30px;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}